**/plugin/packer_compiled.lua
*.~undo-tree~
**/tmp/
**/.vscode
**/bookmark
**/yasb.log
**/.DS_Store
**/history*
/yazi/flavors/
/yazi/plugins/
/emacs/.cache/
/emacs/rime/
/emacs/eln-cache/**
/emacs/auto-save-list/**
/emacs/emojis/**
/emacs/undo/
/emacs/var/
/emacs/url
/emacs/.cache/
/emacs/straight/
/emacs/places
/emacs/org-roam.db
/emacs/.persp-save
/emacs/.org-id-locations
/emacs/places
/emacs/projects
/emacs/bookmarks
/emacs/recentf
/emacs/request/
/emacs/persp-confs/
*Zone.Identifier
.aider*
